.custom-button {
    border: 1px solid var(--primary-color);
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-color);    
    transition: 0.3s all;
}

.custom-button-normal {
    background-color: #fff;
    color: var(--text-color);
    border: 1px solid #eee;
}

.custom-button-normal:hover {
    background-color: var(--bg-white-color);
    border: 1px solid var(--bg-white-color);
}

.custom-hover-primary:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.custom-no-hover {
    background-color: var(--primary-color);
    color: #fff;
}

.custom-no-hover:hover {
    background-color: #d62f58;
    border-color: #cf2952;
    color: #fff;
}

.backtop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    color: #fff;
    z-index: 1030;
    cursor: pointer;
    transition: 0.5s all;
    visibility: hidden;
    opacity: 0;
}

.backtop.appear {
    visibility: visible;
    opacity: 1;
}

.title {
    max-width: 750px;
}

.title strong {
    color: var(--primary-color);
}

.title h2 {
    font-size: 44px;
    line-height: 50px;
    font-weight: bold;
}

.title p {
    color: var(--text-color);
}